* {
  font-family: "Mulish", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
main {
  margin-left: 130px;
  margin-right: 130px;
}
/* header section */

header {
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
}

.all-title {
  display: flex;
  gap: 10px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
}
.title-color {
  color: #32a70f;
}
nav img {
  width: 50px;
  height: 56px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left a {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
nav > ul {
  font-size: 18px;
  display: flex;
  gap: 20px;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.home {
  color: #32a70f;
  font-size: 18px;
  font-weight: 700;
}
/* banner section */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("/Images/Group.png");
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-greeting {
  margin-top: 0;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.banner-content p {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.banner-form {
  margin-top: 50px;
  width: auto;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: 0 solid;
  display: flex;

  gap: 20px;
}

.banner-form input {
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
input:focus {
  outline: none;
}
.button-primary {
  margin: 0;
  width: 174px;
  height: 52px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #32a70f;
  border: 0;
  cursor: pointer;
  gap: 5px;
  display: flex;
}

/* popular section */
.popular {
  margin-top: 90px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.popular-terms {
  /* margin-right: 50px; */
}
.popular h3 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0;
}
.popular p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.popular img {
  margin-top: 0;
  margin-bottom: 0;
}

/* destination section */
.destination {
  margin-top: 100px;
  display: grid;
}
.destination h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for the first row */
  gap: 20px;
  margin-bottom: 20px;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr; /* 3 columns for the second row */
  gap: 20px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
}

.row3 {
  display: grid;
  grid-template-columns: 1.5fr 2fr; /* 2 columns for the third row */
  gap: 20px;
  margin-bottom: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.image-container {
  position: relative !important;
}

.place-name {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
}

.row1 .image-container,
.row2 .image-container,
.row3 .image-container {
  position: relative;
}

.row1 img,
.row2 img,
.row3 img {
  border-radius: 16px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.choose {
  margin-top: 100px;
}
.choose h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.choose p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.choose-flex {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.pic-1 {
  width: 500px;
  text-align: start;
  padding: 30px;
  /* width: 573px;
  height: 284px; */
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.pic-2 {
  text-align: start;
  padding: 30px;
  width: 500px;
  /* width: 573px;
  height: 284px; */
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-flex h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-flex p {
  color: #5a5a5d;
  font-size: 16px;
  text-align: start;
  font-weight: 400;
}
/* .pic-3-main {
  justify-content: center;
  align-items: center;
} */
.pic-3 {
  margin-top: 24px;

  text-align: start;
  padding: 30px;
  width: 500px;

  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.pic-3 p {
  color: #5a5a5d;
  font-size: 16px;
  text-align: start;
  font-weight: 400;
}
.pic-3 h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.pic-3-main {
  display: flex;

  justify-content: center;
}
.Deals-section {
  margin-top: 100px;
}
.Deals-section h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.Deals-section p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.Deals-images {
  margin-top: 30px;
  margin-bottom: 20px;
}
.Deals-images img {
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.image-night-malaysia {
  display: flex;
  gap: 24px;
  text-align: center;
}
.image-hover p {
  color: #5a5a5d;
  font-size: 16px;
  text-align: start;
  font-weight: 400;
}
.image-hover-2 p {
  color: #5a5a5d;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}
.Malaysia-flex {
  align-items: center;
  display: flex;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.new-h4 {
  color: #32a70f;
  font-size: 20px;
  font-weight: 800;
}
.Malaysia-flex p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.h4-tour {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}
.image-hover {
  position: absolute;
  transform: translate(70%, -111%);
  width: 500px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 30px;
}
.image-hover-2 {
  position: absolute;
  transform: translate(7%, -111%);
  width: 500px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 30px;
}
.packages {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pack-button {
  display: flex;
  width: 174px;
  height: 52px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #32a70f;
  padding: 16px;
  border: 0;
  cursor: pointer;
  gap: 5px;
}

/* packages section */
.packages-container {
  margin-top: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for the first row */
  gap: 20px;
  margin-bottom: 20px;
}
.image-container {
  margin-top: 0;
  margin-bottom: 0;
}
.package-left {
}
.packages-container h3 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.packages-container p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.packages-container ul li {
  color: #131318;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.packages-container button {
  padding: 14px 42px 14px 42px;
  border-radius: 8px;
  background: #32a70f;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.place-name-2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
}
/* newslatter section */
.newsletter-section {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.newsletter-form {
  max-width: 400px;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid #32a70f;
}

.newsletter-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter-form p {
  margin-bottom: 20px;
}

.form-border {
  border-bottom: 1px solid #32a70f;
  margin-bottom: 16px;
}

.newsletter-form-2 {
  display: flex;
  flex-direction: column;
}

.newsletter-form-2 label {
  margin-bottom: 5px;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}

.newsletter-form-2 input {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  border: 0;
}

button {
  margin-top: 10px;
  background-color: #32a70f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

button:hover {
  background-color: #2980b9;
}

.newsletter-image {
  flex: 1;
}
.newsletter-form h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-form p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.newsletter-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
/* .newsletter-image {
  position: relative;
} */
.travel-section {
  position: absolute;
  transform: translate(90%, -135%) rotate(-19.628deg);
  border-radius: 16px;
  background: #32a70f;
  width: 250px;
  height: 100px;
  padding: 20px;
  justify-content: center;
  display: grid;
  text-align: center;
  align-items: center;
  align-content: center;
}
.travel-section h4 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.travel-section h3 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* footer section */
.footer-container {
  margin-top: 100px;
  padding: 50px 150px;
  text-align: center;

  background: rgba(19, 19, 24, 0.05);
}
.footer-image a {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none;
}
.footer-image img {
  width: 50px;
  height: 56px;
}
.footer-container p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.svg {
  margin-bottom: 50px;
}
hr {
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 50px;
}
.footer-p {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}
.nav-toggle {
  display: none; /* Initially hide the toggle button */
}
/* ############################################################################################################ */
/* ######################################                            ############################################# */
/* *************************************        RESPONSIVE PART      ****************************************** */
/* #####################################                              ########################################### */
/* ############################################################################################################## */
@media screen and (max-width: 576px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* header section */

  header {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .all-title {
    display: flex;
    gap: 10px;

    font-weight: 800;
    font-style: n;
  }

  nav {
    flex-direction: row;
    align-items: center;
  }
  .nav-left {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-right {
    display: none;
    flex-direction: column;
    background: #f8f8f8;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav-right.active {
    display: flex;
  }
  nav img {
    width: 40px;
    height: 45px;
  }
  /* banner section */
  .banner {
    background-image: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url("/Images/Group.png");
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 20px;
  }

  .banner-greeting {
    font-size: 36px;
  }

  .banner-content p {
    font-size: 14px;
  }

  .banner-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    gap: 10px;
  }

  .banner-form input {
    padding: 10px;
    font-size: 14px;
  }

  .button-primary {
    width: 100%;
    max-width: 200px;
  }
  /* popular section */
  .popular {
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
  }

  .popular-terms {
    margin-right: 0;
  }

  .popular h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .popular p,
  li {
    font-size: 14px;
    line-height: 20px;
  }

  .popular img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* destination section */
  .destination {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .destination h3 {
    color: #131318;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .destination p {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .row1,
  .row2,
  .row3 {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
  }

  .row1,
  .row2,
  .row3 {
    grid-template-columns: 1fr;
  }

  .image-container {
    max-width: 100%;
  }
  .image-container img {
    width: 360px;
  }

  .place-name {
    font-size: 18px;
    padding: 8px;
    top: 50%;
  }

  .row1 img,
  .row2 img,
  .row3 img {
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .Deals-section {
    margin-top: 100px;
  }

  .Deals-section h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
  }

  .Deals-section p {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .Deals-images {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .Deals-images img {
    max-width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
  .image-hover {
    position: absolute;
    transform: translate(70%, -111%);
    width: 500px;
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
    padding: 30px;
  }

  .Malaysia-flex {
    align-items: center;
    display: flex;
    color: #5a5a5d;
    font-size: 16px;
    font-weight: 400;
  }
  .choose-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pic-1 {
    width: 315px;
  }
  .pic-2 {
    width: 315px;
  }

  .packages-container h3 {
    font-size: 24px;
  }

  .packages-container p,
  .packages-container ul li {
    font-size: 14px;
  }
  .packages-container {
    display: flex;
    flex-direction: column;
  }

  .packages-container button {
    font-size: 16px;
  }

  .place-name-2 {
    font-size: 16px;
  }

  .newsletter-form h2 {
    font-size: 18px;
  }

  .newsletter-form p {
    font-size: 14px;
    line-height: 20px;
  }
  .newsletter-section {
    display: flex;
    flex-direction: column;
  }
  .newsletter-form-2 input {
    font-size: 14px;
  }

  .newsletter-form-2 label,
  .newsletter-form-2 button {
    font-size: 16px;
  }

  .travel-section h4 {
    font-size: 16px;
  }
  .travel-section {
    display: none;
  }

  .travel-section h3 {
    font-size: 20px;
  }
  /* Footer section */
  .footer-container {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
  }

  .footer-image a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    list-style: none;
    text-decoration: none;
  }
  .image-hover {
    display: none;
  }
  .image-hover-2 {
    display: none;
  }
  .footer-image img {
    width: 40px;
    height: 45px;
  }

  .footer-container p {
    color: #5a5a5d;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .svg {
    margin-bottom: 30px;
  }

  hr {
    background: rgba(19, 19, 24, 0.1);
    margin-bottom: 30px;
  }

  .footer-p {
    color: #131318;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
  }
}
